<div id="header">
  <a id="logo" href="https://<%- theme.root_domain %>/">
    <img src="https://<%- theme.root_domain %>/images/logo.svg" height="30" width="151">
  </a>
  <ul id="nav">
    <%- partial('partials/menu', { context: 'nav' }) %>
  </ul>
</div>
