<li><a href="https://<%- theme.root_domain %>/" class="nav-link<%- !page.path.match(/showcase/) ? ' current' : '' %>">Guide</a></li>
<li><a href="https://<%- theme.root_domain %>/showcase/" class="nav-link<%- page.path.match(/showcase/) ? ' current' : '' %>">Showcase</a></li>
<li><a href="https://github.com/madesane/wyvern" class="nav-link nav-link__github" target="_blank">Github</a></li>